registry=https://registry.npmjs.org/
always-auth=false
fund=false
audit=false
; caso haja proxy corporativo, deixar as linhas abaixo comentadas:
; proxy=http://seu-proxy:8080
; https-proxy=http://seu-proxy:8080
